@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Lexend;
  src: url(../public/fonts/Lexend-Regular.ttf/);
}
@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins-Regular.ttf);
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-size: 100%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: auto;
    height: auto;
    display: block;
  }

  body {
    font-family: Lexend;
  }

  .poppins {
    font-family: Poppins;
  }
}
